openapi: 3.0.0
info:
  title: RBF2ICS
  version: 1.0.0
paths:
  /rbf2ics:
    get:
      x-yc-apigateway-integration:
        payload_format_version: '1.0'
        function_id: ${function_id}
        tag: $latest
        type: cloud_functions